nav ul {
  list-style:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}
/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}


#unused-body {
  margin-top:0px !important;
  padding-top:9px !important;
  -moz-box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2);
}

panel {
  display: block;
  margin: 0;
  border:0;
  margin-top:9px;
  margin-bottom:25px;
  width: 100%;
}

panel panel-body {
  background-color: white;
  text-align:left;
  overflow: hidden;
  display: block;
  padding: 15px 20px;
  box-shadow: 2px 2px 40px -12px #999;
  font-size: 15px;
  color: #666;
}


panel  panel-header {
  margin: 12px;
  margin-left: 12px;
  margin-right: 12px;
  display:block;
  padding: 8px 16px 0px 20px;
  text-align: left;
  font-size: 20px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-bottom: 13px;
  padding-left: 14px;
  color: #111;
}

panel  panel-header  label {
  font-weight: 800 !important;
}

panel  panel-body  table  tbody  tr  td {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 700;
  font-size: 15px;
  float: left;
  margin: 11px 2px;
  line-height: 1.1;
  color: #111;
  text-align:left;
  color: #888;
  color: #111;

}

panel panel-body table > tbody > tr {
     margin: 5px 0px;
}

panel panel-body table > tbody > tr > td:nth-child(2) {
  color: #777;
  float: right;
  font-weight: 500;
  font-size: 13px;
  text-align:right;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #111;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #888;
}

panel panel-body > table > tbody > tr:first-child td {
  margin-top:0px;
}

panel panel-body > table > tbody > tr:last-child td {
  margin-bottom:0px;
}

panel panel-body > table {
  width: 100%;
}

panel panel-body > table > tbody > tr {
  border-bottom: 1px solid #cacaca;
}

panel panel-body > table > tbody > tr:last-child {
  border-bottom: none;
}

panel panel-body > ul {
  padding: 0px 17px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}



panel a {
  text-decoration: none;
}

.reviews-more {
  margin-right: -20px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 12px;
  width: 100%;
  display: block;
  margin-top: 0px;
  margin-bottom: -12px;
  text-decoration: none !important;
  margin-top: 0px;
}

.review-more label {
  font-size: 16px;
  font-weight: 700;
  line-height: 0;
  text-decoration: none !important;
  color: white !important;
  letter-spacing: 0.5px;
}

.green-gradient {
  background: linear-gradient(90deg,#30c381, #089e46) !important;
}

.package-description * {
  max-width: 100%;
}

.icon-panel {
  position: relative;
}

.icon-panel .icon {
  margin-right: 15px;
  height: 45px;
  display: block;
  width: 45px;
  float: left;
}

.icon-panel .icon .icon-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon-panel .text-container {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fading-sep {
  margin-top: 10px;
  height: 1px;
  background: linear-gradient(90deg, white, #dddddd, white);
}